In [1]:
# Carregando as libs necessarias
import pandas as pd
import psycopg2
from sqlalchemy import create_engine
from configparser import ConfigParser
from geopy.geocoders import Nominatim
import glob, os
from zipfile import ZipFile

In [3]:
# Funcao para extracao arquivo de zip
def extrair_arquivo (path_ori,path_dest):
    with ZipFile(path_ori, 'r') as zipObj:
    # extraindo conteudo para o diretorio 
        zipObj.extractall(path_dest)
        path_extraido = zipObj.namelist() 
        zipObj.close()
        extracted_file = os.path.join(path_dest, path_extraido[0])
    # retorna caminho do arquivo extraido
    return extracted_file
	# leitura do arquivo "MICRODADOS_ENEM_2019" (top 50k)
	#enem = pd.read_csv(path+'ads/MICRODADOS_ENEM_2019.csv', nrows= 50000, encoding= 'latin-1',sep=';')

	# leitura do arquivo "ITENS_PROVA_2019"
	#itens_prova = pd.read_csv(path+'DADOS/ITENS_PROVA_2019.csv', encoding= 'latin-1',sep=';')

In [7]:
# Define os locais de origem e destino dos arquivos
arq_ori=['./DataEngTest-main/raw_data/ads.zip','./DataEngTest-main/raw_data/buildings.zip']
arq_dest='./DataEngTest-main/raw_data/'
pos =0
loc_arquivos=[]
# Executa rotina para extrair os arquivos zipados 
for file in arq_ori:
    # chama funcao para extração dos arquivos
    path_extraido = extrair_arquivo(file,arq_dest)
    pos+=1
    loc_arquivos.append(path_extraido)
    print(path_extraido)

./DataEngTest-main/raw_data/ads/
./DataEngTest-main/raw_data/buildings/

### Concat Json Files

In [8]:
# Define diretorio dos arquivos json 
    # path='./DataEngTest-main/raw_data/ads_json/ads'
# seleciona local dos arquivos json
loc_json= loc_arquivos[0]

path_json = os.path.join(loc_json,'*.json')
# faz a leitura dos diretorios
files= glob.glob(path_json)

In [10]:
# Rotina para fazer a leitura dos diretorios dos arquivos json e em seguida 
# grava todos os arquivos no dataframe df_ads

# define lista
ads=[]

for f in files:
    df_json =pd.read_json(f,lines=True, dtype={'street_number':str})
   # adiciona DataFrame de cada arquivo a lista "ads"
    ads.append(df_json)    
# Cria DataFrame
df_ads= pd.concat(ads, ignore_index=True)

In [12]:
# leitura arquivo buildings
# local arquivo csv
loc_csv= loc_arquivos[1]

df_buildings = pd.read_csv(loc_csv+'buildings.csv',
                           dtype={'street_number':str},na_values="None",sep=',')

In [8]:
df_ads.head(2)

,bathrooms_min,bedrooms_min,built_area_min,city_name,idno,lat,lon,neighborhood,parking_space_min,property_type,sale_price,state,street,street_number
0,2.0,2.0,NaN,São Paulo,AP6909-INC,NaN,NaN,Vila Mariana,1.0,APARTMENT,1105100.0,SP,Rua Doutor Diogo de Faria,421
1,3.0,3.0,NaN,São Paulo,AP6166-INC,NaN,NaN,Brooklin,2.0,APARTMENT,NaN,SP,Rua California,1127

In [9]:
df_buildings.head(2)

,id,address,address_number,neighborhood,city,state,cep,latitude,longitude
0,2261901,Alameda Tabajara,534,Caixa D´Água,Vinhedo,São Paulo,1.32826e+07,-23.038020,-46.916604
1,390564,Avenida Afrânio de Melo Franco,20,Leblon,Rio de Janeiro,Rio de Janeiro,2.24301e+07,-22.985698,-43.217262

## Joining ADs & Buildings

In [36]:
df_dist_building= df_buildings[['address','address_number','neighborhood','city','state']]\
.drop_duplicates()

In [59]:
df_dupl = df_buildings[df_buildings[['address','address_number']].duplicated()]

In [74]:
df_ads[df_ads[['idno']].duplicated()].sort_values('idno').head(5)

,bathrooms_min,bedrooms_min,built_area_min,city_name,idno,lat,lon,neighborhood,parking_space_min,property_type,sale_price,state,street,street_number
6939,5.0,4.0,515.0,São Paulo,AP0001-PBH,-23.487944,-46.630821,Santana,8.0,APARTMENT,NaN,SP,Rua Doutor Guilherme Cristofel,465.0
6130,2.0,3.0,115.0,São Paulo,AP0001-REH,-23.621446,-46.675801,Campo Belo,1.0,APARTMENT,NaN,SP,Rua Barão de Jaceguai,1046.0
8914,4.0,3.0,252.0,São Paulo,AP0005-PBH,-23.488096,-46.630335,Santana,4.0,APARTMENT,NaN,SP,Rua Doutor Guilherme Cristofel,413.0
5838,2.0,2.0,74.0,São Paulo,AP0010-B4KA,-23.623827,-46.688103,Brooklin,2.0,APARTMENT,NaN,SP,Rua Pássaros e Flores,223.0
9337,2.0,2.0,74.0,São Paulo,AP0022-REH,-23.632408,-46.668251,Campo Belo,1.0,APARTMENT,NaN,SP,Rua Padre Leonardo,536.0

### 1- Utilizando "Lat" e "Long"

In [81]:
# Criando filtro para os registros com latitude preenchido
build_lat = pd.notna(df_buildings['latitude'])
# criaçao df com id, lat e long
df_build_lat = df_buildings[['id','latitude','longitude']][build_lat]

In [ ]:
# Join utilizando variaveis lat e long
df_listing_1 = pd.merge(df_ads,df_build_lat
         , left_on=['lat','lon'],right_on=['latitude','longitude'], how='inner')

### 2 - Utilizando Address, number street, city and state

In [111]:
# Realizando o join atraves das variaveis de endereço, numero, bairro, cidade e estado
df_listings = pd.merge(df_ads,df_buildings
         , left_on=['street','street_number','neighborhood','city_name','state']
         ,right_on=['address','address_number','neighborhood','city','state'], how='inner',suffixes=(None,'_buildings'))

In [115]:
df_listing_2.head(10)

,bathrooms_min,bedrooms_min,built_area_min,city_name,idno,lat,lon,neighborhood_x,parking_space_min,property_type,...,street,street_number,id,address,address_number,neighborhood_y,city,cep,latitude,longitude
0,7.0,4.0,402.0,São Paulo,AP0437-MOPB,-23.604288,-46.655746,Indianópolis,5.0,APARTMENT,...,Avenida Açocê,554,131627,Avenida Açocê,554,Moema,São Paulo,04075-023,-23.6044,-46.6555
1,7.0,4.0,NaN,São Paulo,AP8055-INC,NaN,NaN,Moema,5.0,APARTMENT,...,Avenida Açocê,554,131627,Avenida Açocê,554,Moema,São Paulo,04075-023,-23.6044,-46.6555
2,1.0,1.0,95.0,São Paulo,AP0448-MOPB,-23.559959,-46.667660,Jardim América,1.0,APARTMENT,...,Rua da Consolação,3150,131405,Rua da Consolação,3150,Jardim América,São Paulo,01416-000,-23.5600,-46.6677
3,1.0,1.0,46.0,São Paulo,AP0415-MOPB,-23.591862,-46.679268,Vila Nova Conceição,1.0,APARTMENT,...,Rua Ministro Jesuíno Cardoso,148,130695,Rua Ministro Jesuíno Cardoso,148,Itaim Bibi,São Paulo,04544-050,-23.5919,-46.6792
4,2.0,2.0,53.0,São Paulo,AP0384-MOPB,-23.604067,-46.674141,Vila Uberabinha,1.0,APARTMENT,...,Rua Pintassilgo,556,130783,Rua Pintassilgo,556,Moema,São Paulo,04514-032,-23.6040,-46.6742
5,2.0,2.0,NaN,São Paulo,AP5779-INC,NaN,NaN,Moema,1.0,APARTMENT,...,Rua Pintassilgo,556,130783,Rua Pintassilgo,556,Moema,São Paulo,04514-032,-23.6040,-46.6742
6,2.0,1.0,53.0,São Paulo,AP15784-REMS,-23.604067,-46.674141,Moema,1.0,APARTMENT,...,Rua Pintassilgo,556,130783,Rua Pintassilgo,556,Moema,São Paulo,04514-032,-23.6040,-46.6742
7,2.0,2.0,NaN,São Paulo,AP5452-INC,NaN,NaN,Vila Ipojuca,2.0,APARTMENT,...,Rua Camburiú,417,130978,Rua Camburiú,417,Alto da Lapa,São Paulo,05058-020,-23.5350,-46.7077
8,2.0,3.0,NaN,São Paulo,AP5453-INC,NaN,NaN,Vila Ipojuca,2.0,APARTMENT,...,Rua Camburiú,417,130978,Rua Camburiú,417,Alto da Lapa,São Paulo,05058-020,-23.5350,-46.7077
9,2.0,2.0,NaN,São Paulo,AP5452-INC,NaN,NaN,Vila Ipojuca,2.0,APARTMENT,...,Rua Camburiú,417,130978,Rua Camburiú,417,Alto da Lapa,São Paulo,05058-020,-23.5350,-46.7077

## Conexao Banco de Dados

In [38]:
# Funcao para leitura do arquivo "database.ini", com os parametros de conexao
def config(filename='database.ini', section='postgresql'):
    # create a parser
    parser = ConfigParser()
    # read config file
    parser.read(filename)

    # get section, default to postgresql
    db = {}
    if parser.has_section(section):
        params = parser.items(section)
        for param in params:
            db[param[0]] = param[1]
    else:
        raise Exception('Section {0} not found in the {1} file'.format(section, filename))

    return db

In [39]:
# Funcao para criacao das tabelas

def create_tables():
    commands=(
    '''
    CREATE TABLE IF NOT EXISTS BUILDINGS (
    id int PRIMARY key,
    address VARCHAR,
    address_number varchar(80),
    neighborhood VARCHAR ,
    city VARCHAR(60),
    state VARCHAR(60),
    cep varchar(10),
    latitude NUMERIC,
    longitude NUMERIC
    )
    ''',
    '''
    CREATE TABLE IF NOT EXISTS ADS
    (id int PRIMARY key,
    bedrooms_min numeric NULL,
    bathrooms_min numeric NULL,
    built_area_min numeric NULL,
    city_name VARCHAR(100)NULL,
    idno VARCHAR(20) ,
    lat numeric NULL,
    lon numeric NULL,
    neighborhood VARCHAR NULL,
    parking_space_min numeric NULL,
    property_type VARCHAR(50)NULL,
    sale_price numeric NULL,
    state VARCHAR(20)NULL,
    street VARCHAR NULL,
    street_number varchar(10) NULL,
    id_building int references BUILDINGS (id)
    )

    ''',
    '''
    CREATE TABLE IF NOT EXISTS AD_BUILDINGS(
    id int GENERATED ALWAYS AS identity PRIMARY KEY,
    id_ad int REFERENCES ADS(id),
    id_build int REFERENCES BUILDINGS(id)
    )
    ''')
    try:
        # read the connection parameters
        params = config()
        # connect to the PostgreSQL server
        conn = psycopg2.connect(**params)
        cur = conn.cursor()
        # create table one by one
        for command in commands:
            cur.execute(command)
        # close communication with the PostgreSQL database server
        cur.close()
        # commit the changes
        conn.commit()
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
    finally:
        if conn is not None:
            conn.close()
# https://www.postgresqltutorial.com/postgresql-python/create-tables/

In [40]:
# Executa fnncao para criação das tabelas
create_tables()

#### Verificando qtd de registros por estado em ambos dataframes

In [24]:
# Qtd de registros por estado em "ADs"
df_ads.groupby(['state']).count()[['idno']]

        idno
state
SP     10000

In [24]:
# Qtd de registros por estado em "Buildings"
df_buildings.groupby(['state']).count()[['id']]

                         id
state
AC                        8
AL                      865
AM                      205
AP                        2
Acre                      2
Alagoas                2169
Amapá                   130
Amazonas               1782
BA                     3192
Bahia                 17587
CE                     2179
Ceará                  7969
DF                      306
Distrito Federal       4105
ES                     2571
Espírito Santo         9266
GO                     1272
Goiás                 15369
MA                      179
MG                     8484
MS                      213
MT                      257
Maranhão               3750
Mato Grosso            4937
Mato Grosso do Sul     2789
Minas Gerais          41782
PA                      850
PB                     1329
PE                     2394
PI                      210
PR                     3942
Paraná                37674
Paraíba                3843
Pará                   2012
Pernambuco            10820
Piauí                  1713
RJ                    14805
RN                      667
RO                        4
RS                     5756
Rio Grande do Norte    3935
Rio Grande do Sul     62896
Rio de Janeiro        47326
Rondônia                376
Roraima                  31
SC                     1558
SE                      174
SP                    32819
Santa Catarina        40148
Sergipe                1253
São Paulo            220731
TO                        9
Tocantins               457

In [25]:
# Vamos padronizar os registros "state" para sigla dos estados
df_buildings.loc[(df_buildings['state']=='São Paulo','state')]='SP'

In [26]:
# Verificando qtd de registros depois da atualização
df_buildings.loc[(df_buildings['state']=='São Paulo') | (df_buildings['state']=='SP' )]\
.groupby('state').count()[['id']]

           id
state
SP     253550

In [41]:
# chama a função para conexao
params = config()
# define os parametros do banco
string_conn = 'postgresql://{user}:{passwd}@{host}:{port}/{db}'.format(
    user=params['user'], passwd=params['password'], host=params['host']
    , port=5432, db=params['database'])

alchemyEngine = create_engine(string_conn, pool_size = 50)

# Realiza a conexao
dbConn = alchemyEngine.connect();

In [42]:
# Carga das tabelas no BD

# tabela "ads" -> recebe dados de "dfs_ads" 
df_ads.to_sql('ads',con=dbConn,if_exists='append',index_label='id')

# tabela "BUILDINGS" -> recebe dados de df_buildings
df_buildings.to_sql('buildings',con=dbConn,if_exists='append',index=False)

#### Queries
##### Abaixo, a primeira query o join 1x1 das tabelas de "ads" e "buildings".Os registros encontrados são atualizados na tabela "ads" (id_building).
##### Na segunda query, é feito o join de 1xN (1 registro de ad para "n" registros de buildings). O resultado é inserido na tabela "ad_buildings"

In [51]:
# faz a conexao 
conn = psycopg2.connect(**params)
cur = conn.cursor()
# query
queries = ('''
update ADS set id_building = b.id 
from "buildings" b
where ads.street = b.address  
	and ads.street_number = b.address_number
    and ads.city_name = b.city
    and ads.state = b.state
    and ads.neighborhood =b.neighborhood 
''',
'''
-- Insere os registros com mais de 1 predio para um unico registro de ad na tabela ads_buildings
INSERT INTO ad_buildings (id_ad,id_build)
select a.id as id_ad, b.id as id_build
from ADS  a
inner join buildings b on a.street = b.address  
        and a.street_number = b.address_number
        and a.city_name = b.city
        and a.state = b.state                      
where id_building is null
'''        )

for query in queries:
    
    # Executa a query
    cur.execute(query)

# fecha conexao
cur.close()
# commit the changes
conn.commit()
if conn is not None:
    conn.close()

#### 2ª Consulta
##### Variaveis utilizados: "street", "street_number" e "city"

## Queries

#### A solução nao foi capaz de encontrar um registro de predio para cada registro de "ad"
##### pois há xxx registros que nao possuem o mesmo endereço em ambos datasets.
##### Há ainda xxx registros de ads, que foram associados a mais de um registro de predio, pois há endereços e numeros iguais com informaçoes de bairros e ceps diferentes.

#### Abaixo, alguns pontos visando melhorar a associação dos registres de ad e predios:
##### padronizar as variaveis de "city" e "state" street_number
##### atualizar as informaçoes referentes a lat e lon para os 2 datasets, utilizando uma api de geolocalizacao
##### atualizar os registros de cep para corrigir as informaçoes como bairro por exemplo, para evitar registros de predios com mesmo endereço e bairros diferentes. 
Importante destacar que para o dataset de ads a informaçao do bairro muitas vezes nao é a mesma que está cadastrada nos correios. Acredito que isso aconteça devido aos anunciantes informarem o nome da região mais conhecida.
##### atualizar as informaçoes de "address","address_number" atraves das variaveis de "lat" e "lon"

In [42]:
df_ads.filter(like='5945',axis=0)

,bathrooms_min,bedrooms_min,built_area_min,city_name,idno,lat,lon,neighborhood,parking_space_min,property_type,sale_price,state,street,street_number
5945,1.0,2.0,45.0,São Paulo,AP3341-BROR,-23.514886,-46.695076,Parque Industrial Tomas Edson,1.0,APARTMENT,NaN,SP,Rua Josef Kryss,None

In [ ]:
# 1- Criação de filtro, utilizando as variaveis relacionadas a lat e lon
query ='''select a.* from listings a 
inner join buildings b on a.lat=b.latitude and a.lon=b.longitude'''
# salva o resultado em df_ads_filro_1
df_ads_filtro_1= pd.read_sql(query,con=dbConn)

In [ ]:
# 2- segubdo filtro, utilizando as variaveis relacionadas ao endereço
query ='''select a.* from listings a 
inner join buildings b on a.street = b.address  
                        and a.street_number = b.address_number
                        and a.city_name = b. city
                        and a.state = b.state'''
# salva o resultado em df_ads_filro_1
df_ads_filtro_2= pd.read_sql(query,con=dbConn)

In [ ]:
df_ads_filtro_2[(~df_ads_filtro_1)]

## GeoPy

In [1]:
!pip install geopy

Collecting geopy
  Downloading geopy-2.1.0-py3-none-any.whl (112 kB)
Collecting geographiclib<2,>=1.49
  Downloading geographiclib-1.50-py3-none-any.whl (38 kB)
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-1.50 geopy-2.1.0

In [16]:
geolocator = Nominatim(user_agent="app_teste")
location = geolocator.geocode("Rua da Consolação,3150,São Paulo,SP")
print(location.address)
# print(location.raw)

Rua da Consolação, Varpa, Tupã, Região Imediata de Tupã, Região Geográfica Intermediária de Marília, São Paulo, Região Sudeste, Brasil

In [33]:
print((location.latitude, location.longitude))

(-22.983976, -43.2177508)

In [6]:
geolocator = Nominatim(user_agent="app_teste")
location = geolocator.geocode("175 5th Avenue NYC")
print(location.address)

Flatiron Building, 175, 5th Avenue, Flatiron District, Manhattan Community Board 5, Manhattan, New York County, New York, 10010, United States

In [7]:
print(location.latitude,location.longitude)

40.741059199999995 -73.98964162240998

In [ ]:
def get_location_by_address(address):
    """This function returns a location as raw from an address
    will repeat until success"""
    time.sleep(1)
    try:
        return app.geocode(address).raw
    except:
        return get_location_by_address(address)

In [23]:
!pip install viacep

Collecting viacep
  Downloading viacep-1.3.1.tar.gz (2.4 kB)
Requirement already satisfied: requests>=2.9.1 in c:\users\compaq\anaconda3\lib\site-packages (from viacep) (2.22.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\compaq\anaconda3\lib\site-packages (from requests>=2.9.1->viacep) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\compaq\anaconda3\lib\site-packages (from requests>=2.9.1->viacep) (2.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\compaq\anaconda3\lib\site-packages (from requests>=2.9.1->viacep) (1.24.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\compaq\anaconda3\lib\site-packages (from requests>=2.9.1->viacep) (2019.6.16)
Building wheels for collected packages: viacep
  Building wheel for viacep (setup.py): started
  Building wheel for viacep (setup.py): finished with status 'done'
  Created wheel for viacep: filename=viacep-1.3.1-py2.py3-none-any.whl size=3603 sha256=44e49d59d7d72efa413616fdd424d253f99dd2b4fff2f10ba43525f567e8abf3
  Stored in directory: c:\users\compaq\appdata\local\pip\cache\wheels\1e\63\74\a5efb4bbd9631172b5f6d34f1079f58342729214ff8ae6fd04
Successfully built viacep
Installing collected packages: viacep
Successfully installed viacep-1.3.1

In [ ]:
import viacep

data = viacep('08048000')
print(u'%s' % data.getDadosCEP())

In [ ]:
cep = pd.read_json('https://viacep.com.br/ws/SP/São Paulo/Rua tomas teixeira/json/',encoding='utf-8',lines=True)
cep